// Fonts
$font-family-sans-serif: 'Quicksand', sans-serif !default;
$font-family-monospace: 'Roboto', sans-serif !default;
$font-family-brand: 'Lobster', cursive !default;
$font-size-base: 0.9rem !default;
$line-height-base: 1.6 !default;

// Colors
$primary: #C94747 !default;
$body-bg: #F4F5F7 !default;

// Navigation
$navigation-size: 250px;

:root {
  --brand-color: #C94747;
}