.content {
  flex: 1 1 auto !important;
  padding: 2rem 0;

  fieldset {
    legend {
      text-transform: uppercase;
      color: var(--bs-primary);
      font-weight: 800;
      font-size: .7rem;
      padding: 0 2rem;
    }

    ul {
      list-style: none !important;
      padding: 0.3rem 0;
      margin: 0;

      li {
        padding: .7rem 3.5rem;

        a {
          color: var(--bs-secondary);
          text-decoration: none;
          font-weight: 600;
          font-size: 1rem;
          display: block;

          i {
            margin-right: 20px;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}