.form-group {
  border: 1px solid #cccccc;
  padding: 8px 10px;

  label {
    font-family: $font-family-monospace;
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    color: #717171 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .form-control {
    height: 1.4rem !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    color: $primary;
  }
}