.auth {
  .empty-space {
    background-color: var(--brand-color);
    background-position: center;
    background-size: cover;

    -webkit-align-items: flex-end;
    align-items: flex-end;

    .slogan {
      font-family: var(--font-family-sans-serif);
      font-size: 2rem;
      padding: 1.5rem;
      color: #ffffff;
    }
  }

  .content {
    font-family: var(--font-family-sans-serif);
    color: var(--gray);

    .logo {
      font-family: var(--font-family-brand);
      color: var(--brand-color);
      margin-bottom: 70px;
      text-align: center;
      display: block;

      img {
        width: 70%;
      }
    }

    .content-heading, p {
      color: var(--gray-600);
    }
  }

  .custom-control-label {
    color: var(--gray-200) !important;
  }
}