// Fonts
$font-family-sans-serif: 'Quicksand', sans-serif !default;
$font-family-monospace: 'Roboto', sans-serif !default;
$font-family-brand: 'Lobster', cursive !default;
$font-size-base: 0.9rem !default;
$line-height-base: 1.6 !default;

// Colors
$primary: #C94747 !default;
$body-bg: #F4F5F7 !default;


:root {
  // Fonts
  --font-family-brand: #{inspect($font-family-brand)};

  // Color
  --brand-color: #{inspect($primary)};
  --body-bg: #{inspect($body-bg)};
  --gray: #{inspect(darken($body-bg, 35%))} !important;

  // Sizes
  --navigation-size: 300px;
}

// Dark Theme
//@media (prefers-color-scheme: dark) {
//  :root {
//    --brand-color: $primary;
//    --body-bg: #35363b;
//  }
//}