main.by-content {
  flex: 1 1 auto !important;
  transition: transform .3s;
  transform: translateX(0);

  label[for="by-navigation-toggle"] {
    display: none !important;
  }

  @import "main/by-header";
}
