@import "hamburger";

main.by-content {
  flex: 1 1 auto !important;
  transition: transform .3s;
  transform: translateX(0);
  background: $gray-200;

  label[for="navigation-toggle"] {
    display: none !important;
  }

  @import "main/by-header";
}
