.by-app {
  aside.by-navigation {
    transform: translateX($navigation-size * -1);
    position: absolute !important;
    transition: transform .3s;
    width: $navigation-size;
    height: 100vh;
  }

  main.by-content {
    label[for="by-navigation-toggle"] {
      display: block !important;
      margin-right: .7rem;
    }

    .by-header {
      padding: 1.5rem;
    }
  }

  #by-navigation-toggle:checked {
    $delay: .3s;

    & ~ .by-navigation {
      transform: translateX(0);
    }

    & ~ .by-content {
      transform: translateX($navigation-size);

      .hamburger--elastic {
        .hamburger-inner {
          transform: translate3d(0, 10px, 0) rotate(135deg);
          transition-delay: $delay;

          &::before {
            transition-delay: 0s;
            opacity: 0;
          }

          &::after {
            transform: translate3d(0, -20px, 0) rotate(-270deg);
            transition-delay: $delay;
          }
        }
      }
    }
  }
}