.by-app {
  aside.by-navigation {
    transform: translateX($navigation-size * -1);
    position: absolute !important;
    transition: transform .3s;
    width: $navigation-size;
    height: 100vh;
  }

  main.by-content {
    label[for="navigation-toggle"] {
      display: block !important;
      padding: 2.5rem 1.2rem;
    }
  }

  #navigation-toggle:checked {
    & ~ .by-navigation {
      transform: translateX(0);
    }

    & ~ .by-content {
      transform: translateX($navigation-size);

      .hamburger {
        &:hover {
          opacity: 0.7;
        }

        .hamburger-inner {
          background-color: $gray-500;

          &::before {
            background-color: $gray-500;
          }

          &::after {
            background-color: $gray-500;
          }
        }
      }

      .hamburger--elastic {
        .hamburger-inner {
          transform: translate3d(0, 10px, 0) rotate(135deg);
          transition-delay: 0.075s;

          &::before {
            transition-delay: 0s;
            opacity: 0;
          }

          &::after {
            transform: translate3d(0, -20px, 0) rotate(-270deg);
            transition-delay: 0.075s;
          }
        }
      }
    }
  }
}