.auth {
  .logo {
    font-family: 'Oleo Script', cursive;
    text-align: center;
    color: $primary;

    h1 {
      padding: 0 !important;
      margin: 0 !important;
      margin-top: -20px !important;
      font-size: 4rem;
    }

    img {
      width: 20%;
    }
  }

  .image, .login {
    min-height: 100vh;
  }

  .image {
    background-position: center;
    background-color: $primary;
    background-size: cover;

    .slogan {
      font-family: $font-family-sans-serif;
      font-size: 2rem;
      padding: 1.5rem;
      color: #ffffff;
    }
  }

  .login {
    font-family: $font-family-sans-serif;

    .login-heading, p {
      color: $gray-600;
    }
  }

  .custom-control-label {
    color: #ADB5BC !important;
  }
}