.by-header {
  padding: 1.5rem;
  display: flex;
  align-items: center;

  label[for="by-navigation-toggle"] {
    margin-top: 4px;
  }

  .by-page-title {
    font-size: 1.6rem;
    color: $gray-600;
  }

  .by-control {
    img {
      max-height: 30px;
    }
  }
}